@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?4iv2j');
  src:  url('../fonts/icomoon.eot?4iv2j#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4iv2j') format('truetype'),
    url('../fonts/icomoon.woff?4iv2j') format('woff'),
    url('../fonts/icomoon.svg?4iv2j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
  content: "\ea0f";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-right:before {
  content: "\e901";
}
.icon-next:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-left:before {
  content: "\e902";
}
.icon-previous:before {
  content: "\e902";
}
.icon-spinner:before {
  content: "\e903";
}
.icon-loading:before {
  content: "\e903";
}
.icon-loading-wheel:before {
  content: "\e903";
}
.icon-refresh:before {
  content: "\e903";
}
.icon-repeat:before {
  content: "\e903";
}
.icon-busy:before {
  content: "\e903";
}
.icon-wait:before {
  content: "\e903";
}
.icon-arrow:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e900";
}
